
body{
  background-color: black;
}
/* ! LANDING Section */
.landing{
  height: 100vh;
  background-image:url(./assets/IMG_1262.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

#title{
  margin: 0;
  color: rgb(255, 255, 255); 
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 4.2em;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;

}
h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

.navbar {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

/*! ABOUT ME Section */
.aboutMe{
  text-align: center;
}





/* ! Flip Cards in Project section */
.projects{
  text-align: center;
}
.flexbox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width:800px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-content: center;
    align-items: center; 
    background-color: rgb(7, 7, 7);
    

  }
  
  /* Style the back side */
  .flip-card-back {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-content: center;
    align-items: center; 
    transform: rotateY(180deg);
  }

  .flip-card img{
    height: 200px;
    width: 200px;
  }

  a {    
    text-decoration: none;
    color: white;    
  }


/* ! CONTACT ME SECTION */
.contactMe{
  text-align: center;
}
.get-in-touch{
  max-width: 800px;
}

/* !Footer Section */
.footer{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  color: white;

}
.footer img{
  height:40px;
  width: 40px;
}